* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 16px;
}

header {
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: bisque;
    color: indigo;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#button {
    margin: 2em;
    width: 50px;
    height: 30px;
}

footer {
    height: 10vh;
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: bisque;
    color: indigo;
}

